.main {
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 46px;
}

.container {
  min-height: 100vh;
  padding: 20vh 24px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1a1e2a;
  color: whitesmoke;
}

.rightContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.btnContainer {
  display: flex;
  margin-top: 24px;
}

.teacher {
  font-size: 30px;
  font-weight: 400;
  text-decoration: underline;
  margin: 0;
}

.secondaryText {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}

.image {
  width: 400px !important;
  height: 400px !important;
  border-radius: 8px;
}

@media (max-width: 1120px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .container {
    padding: 10vh 24px 0 24px;
  }
}
@media (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .container {
    padding: 5vh 24px 0 24px;
  }
}
@media (max-width: 400px) {
  .main {
    gap: 12px;
  }
}
